  @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

        html {
            height: 100%;
            width: 100%;
        }

        body {
            display: flex;
            justify-content: center;
            background-color: rgb(179, 215, 215);
        }

        .Container {
            text-align: center;
            background-color: rgb(31, 66, 55);
            border-radius: 9px;
            width: max-content;
            padding: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h1 {
            color: aliceblue;
            font-size: 50px;
            padding-bottom: 10px;
            margin: 0;
        }

        .result {
            font-size: 30px;
            padding: 10px 10px;
            margin: 10px 0;
            border: 5px solid hsl(75, 28%, 48%);
            border-radius: 9px;
            font-family: "Bitcount Prop Single", system-ui;
        }

        button {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            font-size: 40px;
            background-color: rgb(247, 230, 136);
            font-family: "Bitcount Prop Single", system-ui;
        }
